@model IEnumerable<Fall2025_Project3_agparker9.Models.ActorModel>?

@{
    ViewData["Title"] = "Actors";
    ViewData["BodyClass"] = "actors-page";
}
<h1>Actors Catalog</h1>

<table class="table">
    <thead>
    <tr>
        <th>Actor</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>IMDB</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (var actor in Model)
        {
            <tr>
                <td>
                    @if (actor.Photo != null)
                    {
                        var base64 = Convert.ToBase64String(actor.Photo);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" alt="Poster" width="100" height="150" />
                    }
                    else
                    {
                        <span>No Photo</span>
                    }
                </td>
                <td>@actor.Name</td>
                <td>@actor.Gender</td>
                <td>@actor.Age</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(actor.ImdbLink))
                    {
                        <a href="@actor.ImdbLink" target="_blank">IMDB</a>
                    }
                    else
                    {
                        <span>N/A</span>
                    }

                </td>
                <td>
                    <a asp-action="actorEdit" asp-route-id="@actor.ActorId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@actor.ActorId"
                       onclick="return confirm('Are you sure you want to delete this movie?');">
                        Delete
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">No Actor found.</td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a asp-action="CreateActor" class="btn btn-primary">Add New Actor</a>
</p>